
#page-invite .bg {
    position: relative;
    width: 7.5rem;
    height: 12.06rem;
    background-image: url("../img/invite-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#page-invite .btn-share{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    width: 3rem;
    height: 1rem;
}
#page-invite .btn-start{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 3rem;
    height: 1rem;
}
